body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .card {
    background-color: #c11818;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    padding: 20px;
    text-align: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  
  .birthday-message h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .birthday-message p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #2b462c;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  